In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("vehicles_v2.csv")
df

,Unnamed: 0,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,posting_date
0,0,auburn,35990,2010.0,chevrolet,corvette grand sport,good,8 cylinders,gas,32742.0,clean,other,rwd,other,NaN,al,2020-12-02T08:11:30-0600
1,1,auburn,7500,2014.0,hyundai,sonata,excellent,4 cylinders,gas,93600.0,clean,automatic,fwd,sedan,NaN,al,2020-12-02T02:11:50-0600
2,2,auburn,4900,2006.0,bmw,x3 3.0i,good,6 cylinders,gas,87046.0,clean,automatic,NaN,SUV,blue,al,2020-12-01T19:50:41-0600
3,3,auburn,2000,1974.0,chevrolet,c-10,good,4 cylinders,gas,190000.0,clean,automatic,rwd,pickup,blue,al,2020-12-01T15:54:45-0600
4,4,auburn,19500,2005.0,ford,f350 lariat,excellent,8 cylinders,diesel,116000.0,lien,automatic,4wd,pickup,blue,al,2020-12-01T12:53:56-0600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458208,458208,wausau,14995,2014.0,cadillac,srx,excellent,6 cylinders,gas,83790.0,clean,automatic,4wd,SUV,silver,wi,2020-12-03T08:56:29-0600
458209,458209,wausau,17895,2018.0,hyundai,tucson,excellent,4 cylinders,gas,31888.0,clean,automatic,4wd,SUV,white,wi,2020-12-03T08:48:08-0600
458210,458210,wyoming,17900,2014.0,cadillac,cts coupe awd,excellent,6 cylinders,gas,53000.0,clean,automatic,4wd,coupe,black,wy,2020-12-02T14:09:45-0700
458211,458211,wyoming,1300,2008.0,jeep,grand cherokee,good,8 cylinders,gas,164000.0,clean,automatic,4wd,SUV,white,wy,2020-12-02T13:01:04-0700
458212,458212,wyoming,22900,2008.0,NaN,International 4300,NaN,NaN,diesel,164000.0,clean,automatic,NaN,NaN,NaN,wy,2020-12-02T12:03:45-0700

In [3]:
df = df.drop(['Unnamed: 0','region','posting_date'], axis=1)
df = df.dropna()
df

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state
3,2000,1974.0,chevrolet,c-10,good,4 cylinders,gas,190000.0,clean,automatic,rwd,pickup,blue,al
4,19500,2005.0,ford,f350 lariat,excellent,8 cylinders,diesel,116000.0,lien,automatic,4wd,pickup,blue,al
6,39990,2012.0,ford,mustang shelby gt500 coupe,good,8 cylinders,gas,9692.0,clean,other,rwd,coupe,blue,al
7,41990,2012.0,chevrolet,camaro zl1 coupe 2d,good,8 cylinders,gas,2778.0,clean,other,rwd,coupe,red,al
11,36990,2013.0,bmw,m3 coupe 2d,good,8 cylinders,gas,50956.0,clean,other,rwd,coupe,black,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458206,5300,2013.0,chevrolet,captiva,excellent,4 cylinders,gas,140000.0,clean,automatic,fwd,SUV,blue,wi
458208,14995,2014.0,cadillac,srx,excellent,6 cylinders,gas,83790.0,clean,automatic,4wd,SUV,silver,wi
458209,17895,2018.0,hyundai,tucson,excellent,4 cylinders,gas,31888.0,clean,automatic,4wd,SUV,white,wi
458210,17900,2014.0,cadillac,cts coupe awd,excellent,6 cylinders,gas,53000.0,clean,automatic,4wd,coupe,black,wy
458211,1300,2008.0,jeep,grand cherokee,good,8 cylinders,gas,164000.0,clean,automatic,4wd,SUV,white,wy

In [6]:
df = df.drop(df[df.price == 0].index)
df

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state
3,2000,1974.0,chevrolet,c-10,good,4 cylinders,gas,190000.0,clean,automatic,rwd,pickup,blue,al
4,19500,2005.0,ford,f350 lariat,excellent,8 cylinders,diesel,116000.0,lien,automatic,4wd,pickup,blue,al
6,39990,2012.0,ford,mustang shelby gt500 coupe,good,8 cylinders,gas,9692.0,clean,other,rwd,coupe,blue,al
7,41990,2012.0,chevrolet,camaro zl1 coupe 2d,good,8 cylinders,gas,2778.0,clean,other,rwd,coupe,red,al
11,36990,2013.0,bmw,m3 coupe 2d,good,8 cylinders,gas,50956.0,clean,other,rwd,coupe,black,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458206,5300,2013.0,chevrolet,captiva,excellent,4 cylinders,gas,140000.0,clean,automatic,fwd,SUV,blue,wi
458208,14995,2014.0,cadillac,srx,excellent,6 cylinders,gas,83790.0,clean,automatic,4wd,SUV,silver,wi
458209,17895,2018.0,hyundai,tucson,excellent,4 cylinders,gas,31888.0,clean,automatic,4wd,SUV,white,wi
458210,17900,2014.0,cadillac,cts coupe awd,excellent,6 cylinders,gas,53000.0,clean,automatic,4wd,coupe,black,wy
458211,1300,2008.0,jeep,grand cherokee,good,8 cylinders,gas,164000.0,clean,automatic,4wd,SUV,white,wy

In [8]:
print(np.percentile(np.array(df.price), 2.5))
print(np.percentile(np.array(df.price), 97.5))

1450.0
42990.0

In [9]:
df = df.drop(df[df.price < 1450].index)
df = df.drop(df[df.price > 42990].index)
df

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state
3,2000,1974.0,chevrolet,c-10,good,4 cylinders,gas,190000.0,clean,automatic,rwd,pickup,blue,al
4,19500,2005.0,ford,f350 lariat,excellent,8 cylinders,diesel,116000.0,lien,automatic,4wd,pickup,blue,al
6,39990,2012.0,ford,mustang shelby gt500 coupe,good,8 cylinders,gas,9692.0,clean,other,rwd,coupe,blue,al
7,41990,2012.0,chevrolet,camaro zl1 coupe 2d,good,8 cylinders,gas,2778.0,clean,other,rwd,coupe,red,al
11,36990,2013.0,bmw,m3 coupe 2d,good,8 cylinders,gas,50956.0,clean,other,rwd,coupe,black,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458204,4495,2006.0,buick,lacrosse cx,good,6 cylinders,gas,121488.0,clean,automatic,fwd,sedan,black,wi
458206,5300,2013.0,chevrolet,captiva,excellent,4 cylinders,gas,140000.0,clean,automatic,fwd,SUV,blue,wi
458208,14995,2014.0,cadillac,srx,excellent,6 cylinders,gas,83790.0,clean,automatic,4wd,SUV,silver,wi
458209,17895,2018.0,hyundai,tucson,excellent,4 cylinders,gas,31888.0,clean,automatic,4wd,SUV,white,wi
458210,17900,2014.0,cadillac,cts coupe awd,excellent,6 cylinders,gas,53000.0,clean,automatic,4wd,coupe,black,wy

In [10]:
y = np.array(df['price'])
x_cont = df[['year', 'odometer']]
x_nonc = df[['model','manufacturer','condition','cylinders','fuel','title_status','transmission','drive','type','paint_color','state']]

In [13]:
dummy = pd.get_dummies(x_nonc)
dummy

,model_(300),model_*cts only 90k mile,model_- f350 lariat crew cab 4x4,model_- g 37,model_- galaxie,model_-350 refrigerated box,model_/ edge,model_/ santa fe,model_1 series,model_1 series 135i,...,state_sd,state_tn,state_tx,state_ut,state_va,state_vt,state_wa,state_wi,state_wv,state_wy
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
458206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
458208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
458209,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
458210,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
dummy = np.array(dummy)
Sum = np.sum(dummy, axis=0)
dummy = np.delete(dummy, np.where(Sum < 10)[0], axis=1)

In [15]:
print(dummy.shape)

(120968, 1737)

In [16]:
x = np.concatenate((x_cont, dummy), axis=1)
print(x.shape)

(120968, 1739)

In [17]:
print(y.shape)

(120968,)

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [19]:
print(np.mean(y_train))
print(np.std(y_train))
print(np.mean(y_test))
print(np.std(y_test))

14130.807117614235
10471.315517663757
14155.648342564273
10454.425132804134

In [20]:
x_subtrain, x_valid, y_subtrain, y_valid = train_test_split(x_train, y_train, test_size=0.2, random_state=0)

In [21]:
x_stack, x_valid, y_stack, y_valid = train_test_split(x_valid, y_valid, test_size=0.5, random_state=0)

In [22]:
print("x_subtrain shape = ", x_subtrain.shape)
print("x_valid shape = ", x_valid.shape)
print("x_stack shape = ", x_stack.shape)
print("x_test shape = ", x_test.shape)

x_subtrain shape =  (77419, 1739)
x_valid shape =  (9678, 1739)
x_stack shape =  (9677, 1739)
x_test shape =  (24194, 1739)

In [23]:
dataset = {'x_subtrain': x_subtrain, 'y_subtrain': y_subtrain, 'x_valid': x_valid, 'y_valid': y_valid, 'x_stack': x_stack, 'y_stack': y_stack, 'x_test': x_test, 'y_test': y_test}

In [24]:
with open('dataset.pickle', 'wb') as fp:
    pickle.dump(dataset, fp)

In [25]:
with open('dataset.pickle', 'rb') as fp:
    dataset = pickle.load(fp)

In [26]:
print(dataset)

{'x_subtrain': array([[  2002., 162689.,      0., ...,      0.,      0.,      0.],
       [  2008., 158000.,      0., ...,      0.,      0.,      0.],
       [  2013.,  76020.,      0., ...,      0.,      0.,      0.],
       ...,
       [  2010., 102000.,      0., ...,      0.,      0.,      0.],
       [  2003., 219154.,      0., ...,      0.,      0.,      0.],
       [  2010.,  80667.,      0., ...,      0.,      0.,      0.]]), 'y_subtrain': array([ 8995, 13250,  7800, ...,  4650,  3950,  8499]), 'x_valid': array([[  2019.,  10868.,      0., ...,      0.,      0.,      0.],
       [  2004., 195649.,      0., ...,      0.,      0.,      0.],
       [  2011.,  62668.,      0., ...,      0.,      0.,      0.],
       ...,
       [  2007., 117000.,      0., ...,      0.,      0.,      0.],
       [  2010.,  85900.,      0., ...,      0.,      0.,      0.],
       [  2001., 252000.,      0., ...,      0.,      0.,      0.]]), 'y_valid': array([39995,  3799, 14990, ...,  4995,  5750,  3200]), 'x_stack': array([[  2006., 249000.,      0., ...,      0.,      0.,      0.],
       [  2011.,  88903.,      0., ...,      0.,      0.,      0.],
       [  2019.,  58893.,      0., ...,      0.,      0.,      0.],
       ...,
       [  2017.,  43501.,      0., ...,      0.,      0.,      0.],
       [  2014., 118332.,      0., ...,      0.,      0.,      0.],
       [  2008.,  96373.,      0., ...,      0.,      0.,      0.]]), 'y_stack': array([15000, 15590, 17295, ..., 34900,  9900,  6500]), 'x_test': array([[  2008., 153240.,      0., ...,      0.,      0.,      0.],
       [  2004., 198000.,      0., ...,      0.,      0.,      0.],
       [  2007., 130700.,      0., ...,      0.,      0.,      0.],
       ...,
       [  1929.,  67600.,      0., ...,      0.,      0.,      0.],
       [  2017.,  30095.,      0., ...,      0.,      0.,      0.],
       [  2008.,  99000.,      0., ...,      0.,      0.,      0.]]), 'y_test': array([ 8795,  3000,  6495, ..., 14700, 16995,  6995])}

In [60]:
import xgboost as xg 
xgb_r = xg.XGBRegressor(objective ='reg:squarederror', n_estimators = 500, seed = 0) 
  
# Fitting the model 
xgb_r.fit(x_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=500, n_jobs=8, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, seed=0, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [62]:
# Predict the model 
pred = xgb_r.predict(x_test)
  
# RMSE Computation 
rmse = np.sqrt(mean_squared_error(y_test, pred)) 
print("rmse = ", rmse)

rmse =  6495.494729706575

In [58]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(weights='distance',n_neighbors=10,n_jobs=-1)
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=-1, n_neighbors=50, p=2,
                     weights='distance')

In [59]:
pred = knn.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, pred)) 
print("rmse = ", rmse)

rmse =  11246.039301213084